@import '../../../assets/style/public.scss';

.ump-df-layout {
  @extend %full;

  .ump-df-layout__header {

  }

  .ump-df-layout__center {
    .ump-df-layout__side {
      transition: width .3s;
      position: relative;
    }

    .ump-df-layout__main {
      padding: 0px;
      position: relative;
      overflow: hidden;
    }
  }

  .ump-df-layout__bottom {

  }

}