@import "public";

html, body {
  margin: 0px;
  height: 100%;
  font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;

  #app {
    @extend %full;
    color: #717171;
    background-color: transparent;
  }
  a {
    color: #2e3e4e;
    text-decoration: none;
  }
  a:hover,
  a:focus {
    color: #4a647e;
    text-decoration: none;
  }
}
