@import "../../../assets/style/public";

//layout整体骨架样式设置
.layout-main {
  height: 100%;
  width: 100%;
  min-width: 900px;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  position: relative;
  .layout-main-mask {
    @extend %full;
  }

  .layout-header {
    background-color: $color-bg-1;
    color: $color-text-1;
  }

  .layout-aside {
    @extend %full;
    overflow: hidden;
    background-color: $color-bg-aside;
    color: $color-text-1;
  }

  .layout-main {
    @extend %full;

    .layout-main-layer {
    }
  }
}

//header 样式设置
.layout-header {

  //logo样式
  .header-logo {
    transition: width .3s;
    float: left;
    text-align: center;

    img {
      height: 60px;
    }
  }

  //折叠按钮样式
  .header-aside-btn {
    @extend %unable-select;
    float: left;
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;

    i {
      font-size: 20px;
      margin-top: 4px;
    }
  }

  //顶部菜单样式
  .header-menu {
    transition: width .3s;
    float: left;
    padding: 20px;

    a {
      font-weight: bold;
      height: 60px;
      color: $color-text-4;
      text-decoration: none;

      &:hover {
        color: $color-text-3;
      }

      &.router-link-exact-active {
        color: $color-text-2;
      }
    }
  }

  .header-fullscreen {
    @extend %unable-select;
    float: left;
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;

    i {
      font-size: 20px;
      margin-top: 4px;
    }
  }
}

//左导航样式
.layout-aside {
  .aside-menu {
    overflow: hidden;
    position: relative;
  }

  //导航底部样式信息
  .aside-bottom {
    background-color: $color-bg-aside-1;
    border-color: $color-bg-aside-1;
    color: $color-text-1;
    .aside-bottom-btn {
      @extend %unable-select;
      background-color: $color-bg-1;
      color: $color-text-3;
      float: left;
      width: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}