@import "../../../assets/style/public";

//layout整体骨架样式设置 开始---------------------------
.layout-main {
  height: 100%;
  width: 100%;
  min-width: 900px;
  background-color: #ebf1f6;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  position: relative;

  .layout-main-mask {
    @extend %full;
  }

  .layout-header {
    background-color: $color-bg-1;
    color: $color-text-1;
  }

  .layout-aside {
    @extend %full;
    overflow: hidden;
    background-color: $color-bg-aside;
    color: $color-text-1;
  }

  .layout-main {
    padding: 0px;
    position: relative;
    overflow: hidden;

    .layout-main-layer {
      @extend %full;

      .layout-main-layer__header {
        transition: width .3s;
        position: relative;
        padding-right: 20px;
      }

      .layout-main-layer__page {
        position: relative;
      }
    }
  }
}

//layout整体骨架样式设置 结束---------------------------
//header 样式设置 开始------------------------------
.layout-header {

  //logo样式
  .header-logo {
    transition: width .3s;
    float: left;
    text-align: center;

    img {
      height: 60px;
    }
  }

  //折叠按钮样式
  .header-aside-btn {
    @extend %unable-select;
    float: left;
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;

    i {
      font-size: 20px;
      margin-top: 4px;
    }
  }

  //顶部菜单样式
  .header-menu {
    transition: width .3s;
    float: left;
    padding: 20px;

    a {
      font-weight: bold;
      height: 60px;
      color: $color-text-4;
      text-decoration: none;

      &:hover {
        color: $color-text-3;
      }

      &.router-link-exact-active {
        color: $color-text-2;
      }
    }
  }

  //头部右侧
  .layout-header__right {
    float: right;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;

    .header-fullscreen {
      @extend %unable-select;
      float: left;
      height: 60px;
      width: 60px;
      display: flex;
      justify-content: center;
      align-items: center;

      i {
        font-size: 20px;
        margin-top: 4px;
      }

    }

    .header-user {
      float: left;
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #9db1c5;

      &.el-dropdown {
        @extend %unable-select;
      }

      .btn-text {
        padding: 14px 12px;
        border-radius: 4px;
        margin: 0px !important;
      }
    }
  }
}

//header 样式设置 结束------------------------------


//左导航样式开始------------------------------
%side-menu-svg {
  width: 30px;
  text-align: center;
}

//菜单text
%side-menu-text {
  font-size: 14px;
  color: #9db1c5;
}

%menu-hover-focus {
  color: #fff;
  background-color: inherit;
  //background-color: #48a75b !important;
  background-color: #409EFF !important;
  text-shadow: none;
}

%menu-item-title {
  @extend %side-menu-text;
  height: 50px;
  line-height: 50px;
  border-top: 1px solid transparent;
  border-color: rgba(255, 255, 255, 0.05);

  &:hover,
  &:focus {
    @extend %menu-hover-focus;
  }

  i {
    border-right: 1px solid rgba(255, 255, 255, 0.05);

    svg {
      @extend %side-menu-svg;
    }
  }
}

.layout-aside {
  .aside-menu {
    overflow: hidden;
    position: relative;
    // [菜单] 正常状态
    .el-menu {
      @extend %unable-select;
      background-color: transparent;
      color: #9db1c5;
      border-right: none;

      //菜单选中样式
      & .el-menu-item.is-active {
        background-color: #374b5e;
        color: #ffffff;
      }

      & .el-submenu__icon-arrow {
        color: #fff;
      }

      & .el-menu-item, & .el-submenu__title {
        @extend %menu-item-title;
        padding: 0 10px !important;
      }

      //[菜单] 折叠样式
      &.el-menu--collapse {
        & .el-menu-item, & .el-submenu__title {
          @extend %menu-item-title;
          padding: 0 20px !important;
        }
      }
    }

  }

  //导航底部样式信息
  .aside-bottom {
    background-color: $color-bg-aside-1;
    border-color: $color-bg-aside-1;
    color: $color-text-1;

    .aside-bottom-btn {
      @extend %unable-select;
      background-color: $color-bg-1;
      color: $color-text-3;
      float: left;
      width: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

//菜单的弹出层部分样式
.el-menu--vertical {
  .el-menu.el-menu--popup {
    @extend %unable-select;
    background-color: #25313e !important;
    color: #9db1c5;
    border-right: none;
    padding: 0px !important;

    & .el-submenu__icon-arrow {
      color: #fff;
    }

    & .el-menu-item, & .el-submenu__title {
      @extend %menu-item-title;
      padding: 0 10px !important;
    }
  }
}

//左导航样式结束------------------------------

//内容样式------------------------------
.layout-main {
  .layout-main-layer {
    .layout-main-layer__header {
      .container-header-tabs__content {
        overflow: auto;
        position: relative;

        .container-header-tabs__content-inner {
          .container-header-tabs__content-inner__control {
            .el-tabs__header.is-top {
              margin-bottom: 0px;
              margin-top: 2px;
            }

            .el-tabs__content {
              display: none;
            }

            .el-tabs__nav {
              overflow: hidden;

              & .el-tabs__item:first-child .el-icon-close {
                display: none;
              }
            }
          }
        }
      }

      .container-header-tabs__btn {
        position: relative;
        bottom: -3px;

        .el-dropdown {
          .el-button-group {
            .el-button:first-child {
              border-bottom-left-radius: 0px;
            }

            .el-button:last-child {
              border-bottom-right-radius: 0px;
            }

            .el-dropdown__caret-button {
              border-bottom-color: #303133;
            }
          }
        }
      }
    }
  }
}

//内容样式结束------------------------------


